{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-8">
            <h2 class="text-center mt-4">Questionnaire 2: Question {{ question_number }}/4</h2>
            <div class="card my-4 p-4 shadow-sm">
                <div>
                    Please indicate how much you agree or disagree regarding the sentences presented below.
                    <p></p>
                </div>
                <form method="POST">
                    <div class="question-box">
                        <p><b>{{ form.slider.label }}</b></p>
                    </div>
                    <div class="question-box">
                        <div class="row">
                            <div class="custom-col">
                                1 - Strongly Disagree
                            </div>
                            <div class="custom-col">
                                2 - Disagree
                            </div>
                            <div class="custom-col">
                                3 - Somewhat disagree
                            </div>
                            <div class="custom-col">
                                4 - Neither agree nor disagree
                            </div>
                            <div class="custom-col">
                                5 - Somewhat agree
                            </div>
                            <div class="custom-col">
                                6 - Agree
                            </div>
                            <div class="custom-col">
                                7 - Strongly agree
                            </div>
                        </div>
                    </div>
                    <input type="range" id="slider" name="slider" min="1" max="7" step="1" value="4" class="custom-range" oninput="updateSlider(this.value)">
                    <input type="hidden" id="sliderValueInput" name="sliderValue" value="4">
                    {{ form.hidden_tag() }}
                    <br>
                    <div class="text-center">
                        <span id="sliderValue">4</span>
                    </div>
                    <div class="text-right mt-3">  <!-- Adjusted margin top here -->
                        {{ form.submit(class="btn btn-primary mt-3") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function updateSlider(value) {
        document.getElementById('sliderValue').innerText = value;
        document.getElementById('sliderValueInput').value = value;
    }
</script>

<style>
    body {
        background-color: #f8f9fa;
    }
    .card {
        border: none;
        border-radius: 15px;
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    .question-box {
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .question-box p {
        margin-bottom: 0;
    }
    .custom-range {
        width: 100%;
        height: 2rem;
        appearance: none;
        margin: 0;
    }
    .custom-range::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
        background-color: #007bff;
        border: 2px solid #007bff;
        border-radius: 50%;
        cursor: pointer;
        z-index: 2;
        position: relative;
    }
    .custom-range::-webkit-slider-runnable-track {
        width: 100%;
        height: 8px;
        background-color: #dee2e6;
        border-radius: 1.3rem;
    }
    .custom-range::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background-color: #007bff;
        border: 2px solid #007bff;
        border-radius: 50%;
        cursor: pointer;
        z-index: 2;
        position: relative;
    }
    .custom-range::-moz-range-track {
        width: 100%;
        height: 8px;
        background-color: #dee2e6;
        border-radius: 1.3rem;
    }
    .custom-range::-ms-thumb {
        width: 20px;
        height: 20px;
        background-color: #007bff;
        border: 2px solid #007bff;
        border-radius: 50%;
        cursor: pointer;
        z-index: 2;
        position: relative;
    }
    .custom-range::-ms-track {
        width: 100%;
        height: 8px;
        background-color: #dee2e6;
        border-radius: 1.3rem;
    }
    .custom-range::-ms-fill-lower {
        background-color: #dee2e6;
        border-radius: 1.3rem;
    }
    .custom-col {
    flex: 0 0 14.28%; /* 100% / 7 columns */
    max-width: 14.28%;
    text-align: center;
    }
    .slider-numbers {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -5px;
    }
</style>
{% endblock %}
