{% extends "base.html" %}
{% block content %}
{% if task_number == 1 %}
<div class="row mt-5">
    <div class="col-md-12">
        <div class="chat-container">
            <div class="card my-4 p-4 shadow-sm">
                <p>
                    The practice round was concluded. The paying experiment will now begin.
                </p>
                <p>
                    If you wish to practice one more time, click on the button <i>Try Again</i>.
                </p>
                <p>
                    If you wish to proceed to the experiment, click on the button <i>Next</i>.
                </p>
            </div>
            <form action="{{ url_for('trial', trial_n=2) }}" method="get" class="d-flex">
                <div class="input-group-append">
                        <button type="submit" class="btn btn-dark">Try Again</button>
                </div>
            </form>
            <form action="{{ url_for('bret_game', task_number=task_number + 1) }}" method="get" class="d-flex justify-content-end">
                <div class="input-group-append">
                        <button type="submit" class="btn btn-dark">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% elif task_number == 2 or task_number == 4 %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            {% if session.treatment_gpt == 1 %}
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <div class="chat-title">Real Experiment</div>
                        <div class="card my-4 p-4 shadow-sm">
                            Please, select the cards you wish to reveal by clicking on them.
                            <br>
                            You can click and drag (if you are on a computer).
                            <br>
                            The cards selected become yellow.
                            <br>
                            REMEMBER: there is only ONE special card among the 64 cards.
                            <div id="game-container">
                                <br>
                                <div class="row justify-content-center">
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="total-money-box">
                                            <p id="score">Your potential payout is: €0</p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div id="grid"></div>
                                <div id="info">
                                    <p id="card-count">Selected: 0 | Remaining: 64</p>
                                </div>
                                <button id="reveal-btn">Turn Cards</button>
                                <br>
                            </div>
                            <script>
                                const currentTaskNumber = {{ task_number }};
                                const isTrial = false;
                            </script>
                            <script src="{{ url_for('static', filename='js/bret_game1.js') }}"></script>
                        </div>
                        <form action="{{ url_for('bret_game', task_number=task_number + 1) }}" method="get" class="d-flex justify-content-end">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-dark" id="next-button">Next</button>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
            {% elif session.treatment_gpt == 2 %}
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="chat-title">Real Experiment</div>
                        <div class="question-box">
                            <div class="row justify-content-center">
                                <strong>Please discuss with the chatbot before taking your final decision</strong>
                            </div>
                        </div>
                        <div class="card my-4 p-4 shadow-sm">
                            <div id="game-container">
                                <br>
                                <div class="row justify-content-center">
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="total-money-box">
                                            <p id="score">Your potential payout is: €0</p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div id="grid"></div>
                                <div id="info">
                                    <p id="card-count">Selected: 0 | Remaining: 64</p>
                                </div>
                                <div class="question-box">
                                    <div class="row justify-content-center">
                                        <strong>Please discuss with the chatbot before taking your final decision</strong>
                                    </div>
                                </div>
                                <button id="reveal-btn">Turn Cards</button>
                                <br>
                            </div>
                            <script>
                                const currentTaskNumber = {{ task_number }};
                                const isTrial = false;
                            </script>
                            <script src="{{ url_for('static', filename='js/bret_game1.js') }}"></script>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <br>
                        <div class="card shadow-sm">
                            <div class="card-header bg-dark text-white">
                                <h4 class="mb-0">Chat with AI</h4>
                            </div>
                            <div class="card-body" id="chat-body" style="height: 600px; overflow-y: auto; display: flex; flex-direction: column;">
                                <!-- Chat messages will be dynamically added here -->
                                {% for conversation in chat_conversation %}
                                    {% if conversation.role == "user" %}
                                        <div class="message user-message p-2 rounded mb-2">{{ conversation.message }}</div>
                                    {% elif conversation.role == "assistant" %}
                                        <div class="message bot-message p-2 rounded mb-2">{{ conversation.message }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="card-footer">
                                <div class="input-group" style="z-index: 9999; position: relative;">
                                    <input type="text" id="user-input" class="form-control" placeholder="Type your message..."/>
                                    <div class="input-group-append">
                                        <button id="send-btn" class="btn btn-dark">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <br>
            <form action="{{ url_for('bret_game', task_number=task_number + 1) }}" method="get" class="d-flex justify-content-end">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-dark" id="next-button">Next</button>
                </div>
            </form>
            <br>
            {% endif %}
        </div>
    </div>
</div>

{% elif task_number == 3 %}
<div class="row mt-5">
    <div class="col-md-12">
        <div class="chat-container">
            <div class="card my-4 p-4 shadow-sm">
                <p>
                    Your total money is €{{ total_money}}.
                </p>
                <p>
                    You will now take part in a second round of the same task.
                </p>
                <p>
                    To proceed to the experiment, click on the button <i>Next</i>.
                </p>
            </div>
            <form action="{{ url_for('bret_game', task_number=task_number + 1) }}" method="get" class="d-flex justify-content-end">
                <div class="input-group-append">
                        <button type="submit" class="btn btn-dark">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}

{% if session.treatment_gpt == 2 %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const socket = io();

    const chatBody = document.getElementById('chat-body');
    const userInput = document.getElementById('user-input');
    const sendBtn = document.getElementById('send-btn');
    let currentBotMessage = null;
    let chatId = {{ current_chat.id | tojson | safe }};

    sendBtn.addEventListener('click', sendMessage);
    userInput.addEventListener('keyup', (event) => {
        if (event.key === 'Enter') {
            sendMessage();
        }
    });

    function sendMessage() {
        const message = userInput.value.trim();
        if (message) {
            addMessageToChat('user', message);
            socket.emit('chat_message', { message: message, chat_id: chatId });
            userInput.value = '';
            currentBotMessage = addMessageToChat('bot', '');
        }
    }

    function addMessageToChat(role, message) {
        const messageElement = document.createElement('div');
        messageElement.classList.add('message', `${role}-message`, 'p-2', 'rounded', 'mb-2');
        messageElement.textContent = message;
        chatBody.appendChild(messageElement);
        chatBody.scrollTop = chatBody.scrollHeight;
        return messageElement;
    }

    socket.on('stream_response', (data) => {
        if (currentBotMessage) {
            currentBotMessage.textContent += data.message;
            chatBody.scrollTop = chatBody.scrollHeight;
        }
    });
</script>
{% endif %}

<style>
#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    margin-bottom: 20px;
    max-width: 100%;
    padding: 0 10px;
}
.boxes {
    width: 31px;
    height: 31px;
    background-color: #ccc;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
}

.boxes.selected {
    background-color: #ffff00;
}

.boxes.revealed {
    cursor: default;
}

.boxes.bomb {
    background-color: #ff0000;
}

.boxes.safe {
    background-color: #00ff00;
}

#info {
    margin-bottom: 20px;
    text-align: center;
}

#reveal-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
body {
    background-color: #f8f9fa;
}
.message {
    display: block;
    max-width: 80%;
    word-wrap: break-word;
}
.user-message {
    background-color: #343b48;
    color: white;
    align-self: flex-end;
    text-align: right;
}
.bot-message {
    background-color: #e9ecef;
    color: black;
    align-self: flex-start;
    text-align: left;
}
.input-group {
    display: flex;
    width: 100%;
}
.input-group .form-control {
    flex: 1;
}
.input-group-append {
    display: flex;
}
.input-group-append .btn {
    margin-left: 0;
}
.card-body {
    flex-grow: 1;
}
.total-money-box {
    padding: 20px; /* Increase padding for a bigger box */
    background-color: #343a40;
    color: white;
    border-radius: 10px;
    font-size: 2em; /* Increase font size */
    text-align: center; /* Center align the text */
    max-width: 500px; /* Set a maximum width if needed */
    width: 100%; /* Make the box responsive */
}
.question-box {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
</style>
{% endblock %}
