{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h2 class="text-center mt-4">Demographics</h2>
            <div class="card my-4 p-4 shadow-sm">
                <form method="POST">
                    {{ form.hidden_tag() }}

                    {% for field in form if field.widget.input_type != 'hidden' and field.name != 'submit' %}
                        <div class="form-group">
                            {{ field.label }}
                            {{ field(class="form-control") }}
                            {% if field.errors %}
                                <div class="invalid-feedback" style="display: block;">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="text-right mt-3">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
