{% extends "base.html" %}

{% block content %}
{% for message in get_flashed_messages() %}
<br>
<div class="container">
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
</div>
{% endfor %}
<div class="row mt-5">
    <div class="col-md-12">
        <div class="chat-container">
            <div class="chat-title">Welcome</div>
            <p>
                Welcome and thank you for considering participating in this experiment.
                <br>
                I, Lucas Bagnari de Seabra, am conducting this experiment as part of my Master Thesis at Católica
                Lisbon School of Business and Economics, under the supervision of Prof. Filipa de Almeida.
            </p>
            <p>
                Before starting, please <strong>read the information presented below.</strong>
            </p>
            <p>
                If you agree to participate in this study, you will be asked to complete a survey.
                The survey will take approximately 7 minutes to complete.
            </p>
            <p>
                Please answer as honestly as possible. All answers will be kept strictly confidentially and are anonymous.
                <br>
                This means that it will not be possible to link your responses to your identity.
                <br>
                The data collected will be used for research purposes only and may be presented in my thesis or
                disseminated in academic journals, always in an aggregated form, never about any individual response.
            </p>
            <p>
                We ask you to take the study in one go, without interruptions.
                <br>
                There are no expected side effects of participating in this study beyond those associated with
                looking at a computer screen for circa 7 minutes.
            </p>
            <p>
                There is the possibility of having a monetary compensation, which will be explained later.
            </p>
            <p>
                You may change your mind and drop out at any point of the study during its completion.
            </p>
            <p>
                If you have any questions about this study, please email me at: <br>
                s-lbseabra@ucp.pt
            </p>
            <p>
                <strong>By proceeding with this survey, you are indicating that you have read and understood the
                information provided above, that you are 18 years of age or older, and that you consent to
                    participate in this experiment.</strong>
            </p>
            <p>
                P.S. It is advised to complete this survey on a computer as the mobile format can cause some problems
            </p>

            <form action="/" method="post">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="consent" id="consentCheckbox" required>
                    <label class="form-check-label" for="consentCheckbox">
                        I consent to participate in this experiment.
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mt-3 login-button">Start</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
