{% extends "base.html" %}

{% block content %}
{% for message in get_flashed_messages() %}
<br>
<div class="container">
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
</div>
{% endfor %}
<div class="row mt-5">
    <div class="col-md-12">
        <div class="chat-container">
            <div class="chat-title">Welcome</div>
            <p>
                Welcome! Thank you for helping me with my thesis. Your participation is greatly appreciated!
            </p>
            <p>
                Before starting, please <strong>read the information presented below.</strong>
            </p>
            <p>
                If you agree to participate in this study, you will be asked to complete a survey.
                The survey will take approximately 10 minutes to complete.
                Your responses will be kept confidential and will be used solely for the purposes of this research.
            </p>
            <p>
                There are no anticipated risks associated with participating in this study.
                There will be the possibility of having a monetary compensation, which will be explained later.
            </p>
            <p>
                <strong>By proceeding with this survey, you are indicating that you have read and understood the
                information provided above, that you are 18 years of age or older, and that you consent to
                    participate in this experiment.</strong>
            </p>

            <form action="/" method="post">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="consent" id="consentCheckbox" required>
                    <label class="form-check-label" for="consentCheckbox">
                        I consent to participate in this experiment.
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mt-3 login-button">Start</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
